@font-face {
  font-family: "Product Sans";
  src: url("/fonts/Product_Sans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("/fonts/Product_Sans-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Product Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
